.relativeCard {
   position: relative;
}
.btnToClick{
  cursor: pointer;
}
.messageCard {
  padding-bottom: 100px;
}

.deleteCard{
position: absolute;
top: 0px;
right: 0px;
background-color: coral;
width: 20%;
padding: 8px;
color: white;
}
