.intComp {
    width: 30vw;
}
p .interactions{
    width: 30vw;
    overflow: visible;
}
.wrapperI{
    --neutral: #07458d;
    --bad: #ed3541;
    --good: #f1b949;
}

.wrapperI{
  margin: 60px;
  margin-top: 60px;
  margin-left: 0px;
}
.resultHeader{
  background-color: #07458d;
  color: white;
  padding: 10px;
}
.badResult{
  background-color: #ed3541;
}
.goodResult{
  background-color: #1DD3B0;
}
.neutralResult{
  background-color: #07458d;
}
.drugChooserHeader{
  background-color: #07458d;
  color: white;
  padding: 10px;
}

.trunkatedHeader{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
