@media only screen and (min-width: 850px) {
  .wrapper{
    margin: 60px;
    margin-bottom: 100px;
  }
}


p{
  line-height:1.2em;
  font-size: 20px;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.closed{
  height:6em;
  overflow:hidden;
}
.opened{
  height:auto;
  overflow:visible;
}
img{
}
.card{
  margin: 24px;
  border: 0px;
}
.moreBtn1{
  margin:0px;
text-align: end;
  height:auto;
  font-weight: bold;
  cursor: pointer;
}

.moreBtn2{
  margin:0px;
text-align: end;
  height:auto;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}
